<!DOCTYPE html>
<html>
    <head>
      <title><%= full_title(yield(:title)) %></title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <%= render 'layouts/shim' %>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.js" type="text/javascript" charset="utf-8"></script>
      <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

      <link rel="stylesheet" type="text/css" href="assets/data_vis_stylesheet.css" />
      <style type="text/css">
          body {
              background-color: #333;
              color: #EEE;
          }
      </style>
    </head>
    <body>
          <%= yield %>
    </body>
</html>
